{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "extends": ["eslint:recommended", "google"],
  "rules": {
    "indent": ["error", 2],
    "no-tabs": "off",
    "arrow-parens": "off",
    "require-jsdoc": "off",
    "no-trailing-spaces": "warn",
    "no-invalid-this": "off",
    "max-len": ["error", { "code": 100 }]
  }
}
